body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0%;
    background-color: #b0c4de;
    border-bottom: 10px solid #fff;
    border-left: 10px solid #0094ff;
}

#header {
        background-color:#026b8d;
        color:white;
        width: 100%;
        text-align:center;
        padding:5px;
}

#nav {
    line-height: 30px;
    background-color: #0f86b3;
    height: auto;
    width: 12%;
    float: left;
    padding: 3%;
}

div {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    width: 100%;
}

#section {
    background-color:#b0c4de;
    width:100%;
    text-align: ;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding-left:35%;
    padding-right:35%;	 	 
}
p{ 
    line-height: 120%;
    text-indent: 30px;
    color: #ffffff;
    font-family: Lobster, Ubuntu, Cabin, Tahoma, sans-serif;
}

h1{
    color: #0094ff;
    border: 1px solid #fff;
    margin-left: 63px;
    margin-right: 63px;
    padding: 20px;
    font-style: italic;
    text-decoration-color: #fff;}

h2,h3{ 
    color: #fff;
    font-style: italic;
    text-decoration-color: #fff;}

h4{color: #0094ff;
    font-style: italic;
    text-decoration-color: #fff;}

a:hover {
    background-color: #000;
    border: 1 solid #ffd800;
    text-decoration: underline;
    color: #ffffff;}

a:active{
    background-color: #fff;
    color: #000;}

span{color: #0094ff;
     padding: 20px;
     font-size: 20px;
}