body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0%;
    border-bottom: 5px solid #fff;
    background-color: #026b8d;
}
#logo{
    float: right;
}
#header {
        background-color:#046686;
        background-image: url("blueBanner.png");
        background-repeat: no-repeat;
        text-align: center;
        box-shadow: 0 0 10px #000;
        
        color:white;
        height: 25%;
        //width: 100%;
        text-align:center;
        padding:5px;
}

#footer {
    clear: both;
    font-size: 15px;
    text-align: center;
    background: #045c78;
    height: 50px;
    box-shadow: 0 0 10px #000;
}

#nav {
    line-height: 30px;
    background-color: #0078a0;
    position: relative;
    min-height: 100%;
    width: 15%;
    float: left;
    padding: 3%;
    box-shadow: 0 0 10px #000;
}

div {
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    //width: 100%;
}

#section {
    //background-color:#b0c4de;
    //width:100%;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    padding-left:25%;
    padding-right:15%;	 	 
}
p{ 
    line-height: 120%;
    //text-indent: 30px;
    color: #ffffff;
    font-family: Lobster, Ubuntu, Cabin, Tahoma, sans-serif;
}

h1{
    color: #fff;
    //border: 1px solid #fff;
    margin-left: 63px;
    margin-right: 63px;
    padding: 20px;
    font-style: italic;
    text-decoration-color: #fff;}

h2,h3{ 
    color: #fff;
    font-style: italic;
    text-decoration-color: #fff;}

h4{color: #0094ff;
    font-style: italic;
    text-decoration-color: #fff;}

a:hover {
    background-color: #000;
    border: 1 solid #ffd800;
    text-decoration: underline;
    color: #ffffff;}

a:active{
    background-color: #fff;
    color: #000;}

span{color: #000;
     padding: 20px;
}

li{
    color: #fff;
    font-size: large;
}